{% macro resource() %}
  <link rel="preload" as="font" href="{{ get_url(path="fonts/vendor/jost/jost-v4-latin-regular.woff2") | safe }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ get_url(path="fonts/vendor/jost/jost-v4-latin-700.woff2") | safe }}"  type="font/woff2" crossorigin>
{% endmacro %}


{% macro stylesheet() %}
<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
{% endmacro %}


{% macro favicons() %}
  <meta name="theme-color" content="{{ config.extra.theme_color | default(value="#fff") }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="apple-touch-icon.png") | safe }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png") | safe }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png") | safe }}">
  {% if not config.extra.is_netlify %}
    <link rel="manifest" href="{{ get_url(path="site.webmanifest") | safe }}" crossorigin>
  {% endif %}
{% endmacro %}


{# type:          website or article, generally setting article for blog articles #}
{# page_images:   using for the blog single template page #}
{# page_section:  the blog single template page have to pass the parameter #}
{# is_404:        using for the 404.html template #}
{% macro seo(
  title="",
  title_addition="",
  description="",
  type="website",
  is_home=false,
  is_404=false,
  is_page=false,
  page_images="",
  page_section="",
  created_time="2021-05-01T08:08:00+08:00",
  updated_time="2021-05-01T08:08:08+08:00"
  )
%}

{% if is_404 %}
  <meta name="robots" content="noindex, follow">
{% else %}
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
{% endif %}
{% if current_url %}
	{% set page_url = current_url %}
{% else %}
	{% set page_url = get_url(path="404.html") %}
{% endif %}
{% if current_path %}
	{% set page_path = current_path %}
{% else %}
	{% set page_path = "/404.html" %}
{% endif %}
<title>{{ title ~ title_addition }}</title>
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ page_url | safe }}">

{% if config.extra.open.enable %}
  <meta name="twitter:card" content="summary_large_image">
  {% if page.extra.images %}
    {% for image in page.extra.images %}
      <meta property="twitter:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif section.extra.images %}
    {% for image in section.extra.images %}
      <meta property="twitter:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif config.extra.open.image %}
    <meta name="twitter:image" content="{{ config.base_url | safe }}/{{ config.extra.open.image | safe }}">
  {% endif %}
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:site" content="@{{ config.extra.open.twitter_site }}">
  <meta name="twitter:creator" content="@{{ config.extra.open.twitter_creator }}">
  
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="{{ type }}">
  <meta property="og:url" content="{{ page_url | safe }}">

  {% if page.extra.images %}
    {% for image in page.extra.images %}
      <meta property="og:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif section.extra.images %}
    {% for image in section.extra.images %}
      <meta property="og:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif config.extra.open.image %}
    <meta property="og:image" content="{{ config.base_url | safe }}/{{ config.extra.open.image | safe }}">
  {% endif %}

  <meta property="og:updated_time" content="{{ updated_time }}">
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:locale" content="{{ config.extra.open.og_locale }}">
{% endif %}

{% if config.extra.plausible.enabled %}
<script src="https://plausible.io/js/script.js" data-domain="{{ config.extra.plausible.domain | safe }}" async defer></script>
{% endif %}

{% if config.extra.unpoly.enabled %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.6.1/unpoly.min.css">
<script src="https://cdn.jsdelivr.net/npm/unpoly@3.6.1/unpoly.min.js" async defer></script>
<script>
    window.addEventListener('DOMContentLoaded', async () => {
      up.fragment.config.followSelectors.push('a[href]');
      up.fragment.config.preloadSelectors.push('a[href]');
      up.fragment.config.mainTargets.push('body');
    });
</script>
{% endif %}

{% endmacro %}
